

.arena {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.actions {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.waiting {
  cursor: default;
  height: 35rem;
  width: 25rem;
  background-color: antiquewhite;
  border-radius: 2rem;
  border: 0.25rem solid tan;
  box-shadow: 0.5rem 0.5rem 0.125rem tan;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: RetroGaming, sans-serif;
  font-size: 3rem;
  color: maroon;
}

.waiting > span {
  display: block;
  margin-left: 4rem;
}

.combat-log {
  margin: 2rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: center;
}

.combat-log > div {
  background-color: antiquewhite;
  /*border: 0.25rem solid tan;*/
  color: maroon;
  font-size: 1.5rem;
  border-radius: 1rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
