<div class="arena">
  @if (leftMonster) {
    <app-monster-card [monster]="leftMonster"></app-monster-card>
  } @else {
    <div class="waiting" (click)="startAnimation()">
      <span>{{ waitingText }}</span>
    </div>
  }
  @if (rightMonster) {
    <app-monster-card [monster]="rightMonster" [flipImage]="true"></app-monster-card>
  } @else {
    <div class="waiting" (click)="startAnimation()">
      <span>{{ waitingText }}</span>
    </div>
  }
</div>

@if (!fightInAction) {
  <div class="actions">
    <button (click)="fight()"><span>FIGHT!</span></button>
  </div>
} @else {
  <div class="combat-log">
    @for (message of combatLog; track message) {
      <div>{{ message }}</div>
    }
  </div>
}
