<div class="container">

  <div class="top">
    <app-header></app-header>
    <app-menu (navTo)="nav = $event"></app-menu>
  </div>

  <div class="content">

    @if (nav == 'monsters') {

    }

    @if (nav == 'arena') {

      <div class="arena">
        <app-monster-card [monster]="leftMonster"></app-monster-card>
        <app-monster-card [monster]="rightMonster" [flipImage]="true"></app-monster-card>
      </div>

      <div class="actions">
        <button (click)="fight()" [disabled]="!fightEnabled"><span>FIGHT!</span></button>
      </div>
    }

    @if (nav == 'creator') {
      <!-- TODO -->
    }

  </div>
</div>
